$colour-primary: #666;           // grey
$colour-secondary: #d4e05c;      // chartreuse
$colour-tertiary: #3f8e7a;       // teal

$colour-primary-light: rgba($colour-primary, 0.35);
$colour-secondary-light: rgba($colour-secondary, 0.5);
$colour-tertiary-light: rgba($colour-tertiary, 0.5);
