$color-primary: #666;           // grey
$color-secondary: #d4e05c;      // chartreuse
$color-tertiary: #3f8e7a;       // teal

$color-primary-light: rgba($color-primary, 0.35);
$color-secondary-light: rgba($color-secondary, 0.5);
$color-tertiary-light: rgba($color-tertiary, 0.5);
