* {
    @include box-sizing(border-box);
    -webkit-font-smoothing: antialiased;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

body {
    overflow-x: hidden;
    margin: 0 5%;
    color: $colour-primary;
    font-family: $font-sans;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.chromeframe {
    margin: 0.2em 0;
    padding: 0.2em 0;
}

.mobile-hide {
    position: absolute;
    left: -5000px;
    @include break($medium) {
        position: relative;
        left: auto;
    }
}

.mobile-show {
    @include break($medium) {
        position: absolute;
        left: -5000px;
    }
}
