* {
    @include box-sizing(border-box);
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}

body {
    overflow-x: hidden;
    margin: 0 5%;
    color: $color-primary;
    font-family: $font-sans;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.chromeframe {
    margin: 0.2em 0;
    padding: 0.2em 0;
}

.mobilehide {
    position: absolute;
    left: -5000px;
}
