$medium: 768px;
$top-space: em(180px);

aside {
	padding-top: $top-space;
	@media (orientation: landscape) and (max-width: $medium) {
		h1 {
			white-space: nowrap;
			max-width: $medium*0.465;
		}
	}
    @include break($medium) {
        position: fixed;
        right: 53%;
        left: 4%;
        header {
            clear:both;
            float: right;
            max-width: 565px;
        }
    }
}

.content {
	margin: 4em 0 2em 0;
	@media (orientation: landscape) and (max-width: $medium) {
	}
    @include break($medium) {
            position: absolute;
            left: 50%;
            right: 5%;
            max-width: 600px;
            margin: 0;
            padding-bottom: 2em;
    }
}
