$medium: 768px;
$top-margin: em(180px);

aside {
	margin-top: 10em;
	@include break($medium) {
		position: fixed;
		margin-top: $top-margin;
			right: 53%;
			left: 4%;
		header {
			clear:both;
			float: right;
			max-width: 565px;
		}
	}
}

.content {
	margin: 2em 0;
	@include break($medium) {
		position: absolute;
		left: 50%;
		right: 5%;
		max-width: 600px;
		margin: 0;
		padding-bottom: 2em;
	}
}

.ribbon {
    position: absolute;
    top: 0;
    left: 50%;
    .outer {
    	position: relative;
    	left: -50%;
    }
	@include break($medium) {
		position: relative;
		top: 0;
		margin: 0 auto;
		height: $top-margin;
	    .outer {
	    	display: inline;
	    }
	}
}
