$base-font-size: 16px;
$base-line-height: 24px;

h2 {
    color: $color-secondary;
    font-family: $font-serif;
    font-size: 1.7em;
    font-weight: normal;
    letter-spacing: -0.05em;
    text-transform: lowercase;
    margin: 0.2em 0;
}
h3 {
    margin: 1em 0 0.2em 0;
    color: $color-primary-light;
    font-size: 1em;
    font-weight: normal;
}

p {
    margin: 0 0 1em 0;
}

a {
	@include link-colors($color-primary, $color-tertiary, $color-tertiary, $color-primary, $color-tertiary);
    border-bottom: 1px dotted $color-primary;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    border-bottom: 1px solid $color-tertiary;
}
