header {
    width: 100%;
}

h1 {
    margin: 0;
    color: #888;
    font-family: $font-headline;
    font-size: 4.5em;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    line-height: 0.91em;
    .kishimoto {
        color: $color-secondary;
    }
}
.byline {
    color: $color-primary-light;
    font-family: $font-serif;
    text-transform: lowercase;
    letter-spacing: -0.05em;
    white-space: nowrap;
    margin: 0.3em 0.2em;
    a {
        border: 0;
        color: $color-primary-light;
        font-weight: normal;
        &:hover {
            color: $color-primary-light;
            color: rgba($color-primary, 0.45);
        }
    }
}

.blather {
    margin: 1.5em 5% 0 5%;
    color: $color-tertiary;
    font-family: $font-serif;
    font-size: 1.4em;
    line-height: 1.5em;
    letter-spacing: -0.05em;
    text-align: center;
}

.schema {
    position: absolute;
    left: -5000px;
}
