$ribbon-width: 16em;
$ribbon-height: 5em;

.ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $top-space;
    text-align: center;
    .inner, .outer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 33%;
        @include rotate(0.05deg);
    }
    .inner {
        z-index: -1;
        border: 1em solid darken($colour-tertiary, 10%);
        border-width: $ribbon-height $ribbon-width/2 1em $ribbon-width/2;
        border-bottom: 1em solid transparent;
    }
    .outer {
        z-index: -2;
        border: 1em solid $colour-tertiary;
        border-width: $ribbon-height*1.08 $ribbon-width/1.9 1em $ribbon-width/1.9;
        border-bottom: 1em solid transparent;
    }
    h2 {
        color: #fff;
        text-transform: none;
        margin: 0;
        padding: 0.8em 0 0 0;
        font-size: 1.3em;
        text-shadow: 1px 1px darken($colour-tertiary, 15%);
    }
    p {
        color: #fff;
        padding: 0;
        font-size: 0.9em
    }
    a {
        color: #fff;
        font-weight: normal;
        border-bottom: 1px dotted #fff;
        &:hover {
            border-bottom-style: solid;
        }
    }
    @include break($medium) {
        position: relative;
    }
}
