$ribbon-width: 20em;
$ribbon-height: 5em;

.ribbon {
    text-align: center;
    .outer {
        display: inline-block;
        max-width: $ribbon-width;
        width: 75%;
        height: $ribbon-height*1.08;
        background-color: $colour-tertiary;
    }
    .inner {
        height: $ribbon-height;
        background: darken($colour-tertiary, 10%);
        margin: 0 2%;
        padding-top: 1em;
    }
    p {
        color: #fff;
        padding: 0;
        font-size: 0.9em
    }
    a {
        color: #fff;
        font-weight: normal;
        border-bottom: 1px dotted #fff;
        &:hover {
            border-bottom-style: solid;
        }
    }
    h2 {
        color: #fff;
        text-transform: none;
        margin: 0;
        font-size: 1.3em;
        text-shadow: 1px 1px darken($colour-tertiary, 15%);
    }
}
