.social {
    @extend .cf;
    padding: 2em 0 3em;
    a {
        float: left;
        border: none;
        width: (99/5)*1%;
        text-align: center;
        &:hover path {
            &.email {
                fill: #800080;
            }
            &.github {
                fill: #171515;
            }
            &.linkedin {
                fill: #0e76a8;
            }
            &.twitter {
                fill: #4099FF;
            }
            &.googleplus {
                fill: #db4a39;
            }
            &.facebook {
                fill: #3B5998;
            }
            &.pinterest {
                fill: #c92228;
            }
        }
    }
    .social-extra {
        display: none;
    }
    path {
        fill: lighten($colour-primary, 40%);
        transition: 0.8s;
    }
    svg {
        width: 90%;
        max-height: 100%;
    }
    @include break(500px) {
        a {
            width: (99/7)*1%;
        }
        .social-extra {
            display: inline;
        }
    }
    @include break($medium) {
        a {
            width: (99/5)*1%;
        }
        .social-extra {
            display: none;
        }
    }
    @include break(1000px) {
        a {
            width: (99/7)*1%;
        }
        .social-extra {
            display: inline;
        }
    }
}
