.content {
    @media (min-width: $layout-break) {
        padding-top: 0;
        padding-left: 0;
        max-height: 100vh;
        overflow-y: auto;
    }
}

section {
    position: relative;
    padding: 2em 0;
    border-top: $border-default;

    &:last-of-type {
        border-bottom: $border-default;
    }
}
