.header {
    font-size: 1.5rem;
    font-family: $font-serif;

    &__byline {
        margin-top: 0.5rem;
        color: $colour-muted;
    }

    &__description {
        color: $colour-primary;
        text-align: center;
    }

    @media (min-width: $break-s) {
        text-align: center;

        &__byline {
            font-size: 5.5vw;
        }
    }

    @media (min-width: $layout-break) {
        text-align: initial;

        &__byline {
            font-size: 3vw;
        }
    }
}
