/*doc
---
title: notice
name: notice
category: components
---

Headings should follow appropriate heading hierarchy.

```html_example
    <h1>Hello, world!</h1>
```
*/


.notice {
    display: none;
    position: relative;
    margin: 0 auto 4rem;
    padding: 1.5rem 1rem;
    background-color: $colour-primary;
    color: $colour-white;
    text-align: center;
    max-width: 240px;

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border: 1px solid $colour-primary;
        border-width: 0 120px 20px;
        border-bottom-color: transparent;
    }

    *,
    *:hover {
        margin: 0;
        color: inherit;
    }

    @media (min-width: $layout-break) {
        display: block;
    }
}
