/*doc
---
title: notice
name: notice
category: components
---

Headings should follow appropriate heading hierarchy.

```html_example
    <h1>Hello, world!</h1>
```
*/


.ribbon {
    display: none;
}
