/*doc
---
title: Buttons PARENT
name: buttons
category: buttons
---
Every form should be accompanied with a `button` element. Exceptionally, you can apply button styles to an `<a>` element.

```html_example
    <button class="button">button element</button>
    <a class="button" href="http://www.inviqa.com" onClick="return false;">link element</a>
```
*/

/*doc
---
title: Button colours 100
name: button-colours
category: buttons
parent: buttons
order: 100
---

Example                                                                 | Class
----------------------------------------------------------------------- | -----------------
<button class="button">button</button>                                  | `button`
<button class="button button--primary">button</button>                  | `button button--primary`
<button class="button button--secondary">button</button>                | `button button--secondary`

*/

/*doc
---
title: Button state 3
name: button-state
category: buttons
parent: buttons
order: 3
---

Disabled buttons can be marked with the `disabled` attribute or class.

Example                                                                 | Class
----------------------------------------------------------------------- | -----------------
<button class="button" disabled>disabled</button>                       | `button`
<button class="button disabled">disabled</button>                       | `button disabled`

*/

/*doc
---
title: Button strip 1
name: button-strip
category: buttons
parent: buttons
order: 1
---
The button strip molecule can be used to group related buttons.

```html_example
    <div class="button-strip">
        <button class="button">Button one</button>
        <button class="button">Button two</button>
    </div>
```
*/
