$layout-break: $break-m;

html,
body {
    box-sizing: border-box;

    @media (min-width: $layout-break) {
        overflow: hidden;
        height: 100%;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 2em;

    @media (min-width: $layout-break) {
        margin: 0;
        display: flex;
        flex: 1 1 50%;
        align-items: center;
    }
}

.header,
.content {
    padding: 1rem 0;

    @media (min-width: $layout-break) {
        flex: 1;
        padding: 3rem;
    }
}

.header {

    &__byline {
        color: $colour-muted;
    }

    &__description {
        color: $colour-primary;
    }

    @media (min-width: $break-s) {
        text-align: center;
    }

    @media (min-width: $layout-break) {
        text-align: inherit;
    }
}

.content {

    @media (min-width: $layout-break) {
        padding-left: 0;
        max-height: 100vh;
        overflow-y: auto;
    }
}

section {
    position: relative;
    padding: 2em 0;
    border-top: 1px solid $colour-muted;

    &:last-of-type {
        border-bottom: 1px solid $colour-muted;
    }
}

.top {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3.7em 0 1em 3.7em;
    font-size: 0.7rem;
    text-transform: uppercase;
    border: 0;

    @media (min-width: $layout-break) {
        display: none;
    }
}

.blather {
    text-align: center;
}
