html,
body {
    box-sizing: border-box;

    @media (min-width: $layout-break) {
        overflow: hidden;
        height: 100%;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 2em;

    @media (min-width: $layout-break) {
        margin: 0;
        display: flex;
        flex: 1 1 50%;
        align-items: center;
    }
}

.header,
.content {
    padding: 1rem 0;

    @media (min-width: $layout-break) {
        flex: 1;
        padding: 3rem;
    }
}

.content {
    @media (min-width: $layout-break) {
        padding-left: 0;
        max-height: 100vh;
        overflow-y: auto;
    }
}

section {
    position: relative;
    padding: 2em 0;
    border-top: $border-default;

    &:last-of-type {
        border-bottom: $border-default;
    }
}
