/*doc
---
title: typography
name: typography
category: settings
---

Headings should follow appropriate heading hierarchy.

```html_example
    <p>Sans serif: Open Sans, sans-serif</p>
    <h2>Serif: 'Slabo 27px', serif</h2>
    <h1>Heading: Oswald, sans-serif</h1>
```
*/

$font-heading: Oswald, sans-serif;
$font-sans: Open Sans, sans-serif;
$font-serif: 'Slabo 27px', serif;

@mixin font-heading {
    font-family: $font-heading;
    letter-spacing: -0.05em;
    line-height: 0.9;
}

body {
    color: $colour-black;
    font-family: $font-sans;
    line-height: 1.5;
}
