:root {
  box-sizing: border-box;
}

@media (min-width: $bp-medium) and (min-height: $bp-medium)  {
  html {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  padding: $space;
  overflow-x: hidden;
}

h1,
h2 {
  margin: 0 auto;

  &:focus {
    outline: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
